In [1]:
# %matplotlib inline
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [2]:
titles = pd.read_csv('C:/Users/andre/OneDrive/Escritorio/ejercicios github/imdb_pandas/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
cast = pd.read_csv('C:/Users/andre/OneDrive/Escritorio/ejercicios github/imdb_pandas/cast.csv', sep=",", encoding='utf-8')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [4]:
titles.shape[0]

232330

In [5]:
len(titles)

232330

### What are the earliest two films listed in the titles dataframe?

In [6]:
titles.head(2)

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969

### How many movies have the title "Hamlet"?

In [7]:
titles[titles['title']== 'Hamlet'].count().title

18

### How many movies are titled "North by Northwest"?

In [8]:
titles[titles['title']== 'North by Northwest'].count().title

1

### When was the first movie titled "Hamlet" made?

In [9]:
titles[titles['title']== 'Hamlet']['year'].head(1)

6009    1948
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [10]:
titles[titles['title']== 'Treasure Island'].sort_values(by='year',ascending=True)

                  title  year
206027  Treasure Island  1918
51287   Treasure Island  1920
191050  Treasure Island  1934
96934   Treasure Island  1950
89534   Treasure Island  1972
111343  Treasure Island  1973
205397  Treasure Island  1985
179354  Treasure Island  1999

### How many movies were made in the year 1950?

In [11]:
titles.query('year ==1950').count().title

1099

In [12]:
titles[titles['year']==1950].count().year

1099

### How many movies were made in the year 1960?

In [13]:
titles.query('year ==1960').count().title

1501

In [14]:
titles[titles['year']==1960].count().year

1501

### How many movies were made from 1950 through 1959?

In [15]:
titles[titles['year'].between(1950,1959,inclusive=True)].count().year

C:\Users\andre\AppData\Local\Temp\ipykernel_7192\1138699518.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  titles[titles['year'].between(1950,1959,inclusive=True)].count().year

12711

In [16]:
titles[titles['year'].between(1950,1959,inclusive='both')].count().year

12711

### In what years has a movie titled "Batman" been released?

In [17]:
titles[titles['title']=='Batman'].year

56000    1989
74608    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [18]:
cast.columns

Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')

In [19]:
cast.character

0                          Buffy 4
1                           Guests
2                  Bobby Riggs Fan
3                  2002 Dodger Fan
4          1988 Opera House Patron
                    ...
3634462                       D?ra
3634463               Woman in Bus
3634464              Hj?krunarkona
3634465     Afgr.dama ? bens?nst??
3634466          Pensionatv?rtinde
Name: character, Length: 3634467, dtype: object

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [22]:
cast[(cast['title']=='Inception')&(cast['n'].isnull())]

,title,year,name,type,character,n
94937,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
191432,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
363361,Inception,2010,John Ceallach,actor,LAX Passenger,NaN
663898,Inception,2010,Seve Esposito,actor,Italian Gambler,NaN
670255,Inception,2010,Marcus (II) Everett,actor,Stock Broker,NaN
686703,Inception,2010,Zachary Christopher Fay,actor,Extra,NaN
811450,Inception,2010,Daniel Girondeaud,actor,Bridge Sub Con,NaN
977118,Inception,2010,Andrew Hoagland,actor,Pedestrian,NaN
1063115,Inception,2010,Charles Jarrell,actor,Hotel Guest,NaN
1076304,Inception,2010,Seong-hwan Jo,actor,Japanese Landing Crew,NaN
1087388,Inception,2010,Alonzo F. Jones,actor,Mombasan Casino Staff,NaN
1153924,Inception,2010,Mobin Khan,actor,Mombasa Casino Cashier,NaN
1210696,Inception,2010,Shunsaku Kud?,actor,Saito's Bodyguard Officer,NaN
1257226,Inception,2010,John (IX) Lawson,actor,Street Person,NaN
1272780,Inception,2010,Jean-Christophe Leger,actor,French Student,NaN
1616149,Inception,2010,Fran?ois-Marie Nivon,actor,A Passer-By,NaN
1781608,Inception,2010,Scott Pretty,actor,Pedestrian,NaN
1863454,Inception,2010,Benjamin (II) Riley,actor,Bridge Sub Con,NaN
1939627,Inception,2010,Norman Saleet,actor,Airport Patron,NaN
2063132,Inception,2010,Colin (XXV) Smith,actor,Airport Patron,NaN
2170402,Inception,2010,Affan Tareen,actor,Denison,NaN
2703704,Inception,2010,Youlanda Davis,actress,Mombasan Cashier,NaN
2756294,Inception,2010,Julie Eagleton,actress,Stockbroker,NaN
2849217,Inception,2010,Natalie Goldwin,actress,LAX Passenger,NaN
2947226,Inception,2010,Marguerite Insolia,actress,Reporter,NaN
3035859,Inception,2010,Leticia LaBelle,actress,Airport Patron,NaN

### But how many roles in the movie "Inception" did receive an "n" value?

In [34]:
cast[(cast['title']=='Inception')&(cast['n'].isna())].count().title

26

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [38]:
cast[(cast['title']=="North by Northwest")&(cast['n'].notna())].sort_values(by='n', ascending=False)

,title,year,name,type,character,n
1343025,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0
199768,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1463316,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
450691,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
2225858,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
646039,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
1757154,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
2372617,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1236791,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
1644542,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
2941468,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
345822,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3043261,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
1413409,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3382934,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
845516,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [39]:
cast[(cast['title']=="Sleuth")&(cast['year']==1972)&(cast['n'].notna())].sort_values(by='n', ascending=False)

,title,year,name,type,character,n
1405219,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
2635708,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1421434,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
362592,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
316652,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
1654402,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [40]:
cast[(cast['title']=="Sleuth")&(cast['year']==2007)&(cast['n'].notna())].sort_values(by='n', ascending=False)

          title  year           name   type    character    n
1751872  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0
1254632  Sleuth  2007       Jude Law  actor         Milo  2.0
316653   Sleuth  2007  Michael Caine  actor       Andrew  1.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [48]:
cast[(cast['title']=='Hamlet')&(cast['year']==1921)].count()

title        9
year         9
name         9
type         9
character    9
n            9
dtype: int64

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [51]:
cast[(cast['title']=='Hamlet')&(cast['year']==1996)&(cast['n'].notna())].count().n

46

### How many "Hamlet" roles have been listed in all film credits through history?

In [55]:
cast[(cast['title']=='Hamlet')&(cast['character']=='Hamlet')].count().character

15

### How many people have played an "Ophelia"?

In [56]:
cast[(cast['title']=='Hamlet')&(cast['character']=='Ophelia')].count().character

15

### How many people have played a role called "The Dude"?

In [57]:
cast[(cast['title']=='Hamlet')&(cast['character']=='The Dude')].count().character

0

### How many people have played a role called "The Stranger"?

In [59]:
cast[(cast['title']=='Hamlet')&(cast['character']=='The Stranger')].count().character

0

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?